<h1>Our flats</h1>
<%= link_to 'Add a new flat', new_flat_path, class: 'btn btn-secondary' %>
<div class="cards-container">
<% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <%= link_to 'Click me', flat_path(flat) %>
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.description %></p>
      <p class="card-text"><%= number_to_currency(flat.price_per_night) %> per night</p>
      <a href="<%= flat_path(flat) %>" class="btn btn-primary">View Details</a>
      <a href="<%= edit_flat_path(flat) %>" class="btn btn-primary">Edit</a>
      <%= link_to 'Delete', flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    </div>
      </div>
<% end %>
</div>
